@import "../../../variables.scss";

.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 20px;
  border: 1px solid $cool-gray;
  border-radius: 8px;
  height: 80px;
  padding: 5px 20px;
  .text {
    line-height: 1.6rem;
    margin-right: 80px;
    h1 {
      margin: 0;
      font-size: 1rem;
    }
    p {
      color: $cool-gray;
      font-weight: 400;
      font-size: 1rem;
    }
  }
  .price {
    position: absolute;
    right: 20px;
    color: $purplish-blue;
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .add {
    height: 64px;
  }
}
