@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=Ubuntu:wght@400;500;700&display=swap");
@import "./variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $magnolia;
}

button {
  background: none;
  border: none;
  // text-align: left;
}
